@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: auto;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}